body {
    background-color: darkgray;
    margin: 0px;
}

body p {
    text-align: center;
}

body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
}
nav ul{
  margin:0px;
  padding: 0px;
  background-color:  #006A8D;
  overflow: hidden;

}
nav li {
  float:left;
  border-right: 1px solid #bbb;
  list-style-type: none;
}


nav li:last-child {
    border-right: none;
}
#container{
  width: 800px;
  margin-left:auto;
  margin-right:auto;
}
header{
  background-image: url("./pictures/LogoDgrTemp.png");
  width:800px;
  height: 200px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 0px;
}
header:hover{
  cursor:pointer;
}


.button {
  margin-left: auto;
  margin-right: auto;
    display:block;
    font: bold 16px Arial;
    text-decoration: none;
    color: white;
    background-color:  #006A8D;
    padding: 10px 20px 10px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: black;
}
iframe{
  border: 0px;
}
